# SSTATIC_DATA=
# SSTATIC_APP_HOST=
# SSTATIC_APP_PREFIX=
# SSTATIC_SHORTENER_HOST=
# SSTATIC_SHORTENER_PREFIX=
# SSTATIC_FILES_HOST=
# SSTATIC_FILES_PREFIX=
# SSTATIC_MAX_FILE_UPLOAD_SIZE=
# SSTATIC_ENABLE_OPENAPI=
# SSTATIC_CASE_INSENSITIVE_SLUGS=
# SSTATIC_DEFAULT_SLUG_LENGTH=

# SSTATIC_OIDC_CONFIGURATION=
# SSTATIC_OIDC_CLIENT_ID=
# SSTATIC_OIDC_CLIENT_SECRET=

# SSTATIC_AUTH_USERNAME=
# SSTATIC_AUTH_PASSWORD=
# SSTATIC_AUTH_PASSWORD_HASH=

# PLAUSIBLE_DOMAIN_NAME=
# PLAUSIBLE_ENDPOINT=
